---
version: 2
updates:
  - package-ecosystem: 'gomod'
    directory: '/'
    schedule:
      interval: 'monthly'
      day: tuesday
  - package-ecosystem: 'npm'
    directory: '/frontend'
    schedule:
      interval: 'monthly'
      day: tuesday
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
      day: tuesday
