on:
  push:
    tags:
      - "v*.*.*"

env:
  NODE_OPTIONS: "--max-old-space-size=4096"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build
      - uses: ./.github/actions/zip
        with:
          file-name: "weaviate-gui"
      - uses: softprops/action-gh-release@v2
        with:
          preserve_order: true
          generate_release_notes: true
          files: |
            build/bin/*.zip
            build/bin/*.sig
            CHANGELOG.md
