# don't rename this file. File is referenced at internal/updater/github-source.go:29
on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write
  id-token: write # Required for keyless signing with SigStore

env:
  NODE_OPTIONS: "--max-old-space-size=4096"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: ./.github/actions/build
      - uses: ./.github/actions/zip
        with:
          file-name: "weaviate-desktop"
      - uses: softprops/action-gh-release@v2
        with:
          preserve_order: true
          generate_release_notes: true
          files: |
            build/bin/*.zip
            build/bin/*.sig
            CHANGELOG.md
